@model btl.Models.HoaDon

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-lg-9">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Hoa Don</h1>
            </div>
            <form class="user" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="so_hd" class="control-label"></label>
                    <input disabled asp-for="so_hd" class="form-control form-control-user">
                    <span asp-validation-for="so_hd" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ma_chi_nhanh" class="control-label"></label>
                    <input disabled asp-for="ma_chi_nhanh" class="form-control form-control-user">
                    <span asp-validation-for="ma_chi_nhanh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ma_nv" class="control-label"></label>
                    <input disabled asp-for="ma_nv" class="form-control form-control-user">
                    <span asp-validation-for="ma_nv" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ma_khuyen_mai" class="control-label"></label>
                    <input disabled asp-for="ma_khuyen_mai" class="form-control form-control-user">
                    <span asp-validation-for="ma_khuyen_mai" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ma_kh" class="control-label"></label>
                    <input disabled asp-for="ma_kh" class="form-control form-control-user">
                    <span asp-validation-for="ma_kh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="hinh_thuc_mua" class="control-label"></label>
                    <input disabled asp-for="hinh_thuc_mua" class="form-control form-control-user">
                    <span asp-validation-for="hinh_thuc_mua" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ngay_thanh_toan" class="control-label"></label>
                    <input disabled asp-for="ngay_thanh_toan" class="form-control form-control-user">
                    <span asp-validation-for="ngay_thanh_toan" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="tong_tien" class="control-label"></label>
                    <input disabled asp-for="tong_tien" class="form-control form-control-user">
                    <span asp-validation-for="tong_tien" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="thanh_toan" class="control-label"></label>
                    <input disabled asp-for="thanh_toan" class="form-control form-control-user">
                    <span asp-validation-for="thanh_toan" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ma_khu_vuc" class="control-label"></label>
                    <input disabled asp-for="ma_khu_vuc" class="form-control form-control-user">
                    <span asp-validation-for="ma_khu_vuc" class="text-danger"></span>
                </div>

            </form>
            @await Component.InvokeAsync("CTHDCreate", Model)
            <hr>
            @await Component.InvokeAsync("CTHDList", new {id=Model.so_hd})
            <hr>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>


@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    } *@