@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-6">Chào mừng đến với môn học Cơ sở Dữ liệu Phân tán</h3>
    <img src="https://images.ctfassets.net/po4qc9xpmpuh/52S646IR3Wb6vkHc1wXQzi/36d0045ea08e5279464de4ebd958c90c/A.png" alt=""/>
</div>
